.responsive-iframe {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 576px) {
    /* CSS rules */
    width: 100% !important;
    height: 400px !important;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 577px) {
        /* CSS rules */
        width: 100% !important;
        height: 500px !important;
    }   
}

.fs-7 {
    font-size: 0.8rem !important;
}

.h-min {
    height: min-content !important;
}

.card {
    --bs-card-spacer-y: 0.7rem;
    --bs-card-spacer-x: 0.7rem;
    --bs-card-title-spacer-y: 0.25rem;
}

.mn-w75 {
    min-width: 75px;
}