.responsive-iframe {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 576px) {
    /* CSS rules */
    width: 100% !important;
    height: 400px !important;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 577px) {
        /* CSS rules */
        width: 100% !important;
        height: 500px !important;
    }   
}

.fs-7 {
    font-size: 0.8rem !important;
}

.h-min {
    height: min-content !important;
}

.card {
    --bs-card-spacer-y: 0.7rem;
    --bs-card-spacer-x: 0.7rem;
    --bs-card-title-spacer-y: 0.25rem;
}

.mn-w75 {
    min-width: 75px;
}

#capa-section {
    .btn-success {
        --bs-btn-bg: #9ec451;
        --bs-btn-border-color: #9ec451;
        --bs-btn-hover-bg: #8bb237;
        --bs-btn-hover-border-color: #8bb237;
    }
    .pagination {
        --bs-pagination-active-color: #ffffff;
        --bs-pagination-active-bg: #9ec451;
        --bs-pagination-active-border-color: #9ec451;
        --bs-pagination-color: #9ec451;
        --bs-pagination-hover-color: #8bb237;
    }
    
}

body {
    --bs-body-font-family: 'Roboto', sans-serif;
}